<div class="row mb-2">
    <div class="display-4">Solver for linear and integer programming problems</div>
</div>
<div class="row mb-1">
    <div class="col-xl-3 col-md-6 col-sm-12 baseBox dashboardItemBox">
        <div class="row mb-1">
            <div class="col">
                <h4>Solve new LP problem</h4>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                Provide a linear porgramming problem with its decision variables, constraints and objective.
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <a routerLink="/solve" routerLinkActive="active"><div class="btn btn-lg btn-primary">Solve LP</div></a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12 baseBox dashboardItemBox">
        <div class="row mb-1">
            <div class="col">
                <h4>Solve new IP problem</h4>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                Provide an integer porgramming problem with its decision variables, constraints and objective.
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <a routerLink="/solve/integerprogramming" routerLinkActive="active"><div class="btn btn-lg btn-primary">Solve IP</div></a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12 baseBox dashboardItemBox">
        <div class="row mb-1">
            <div class="col">
                <h4>History</h4>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                See what LP problems have you given to the solver already.
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <a routerLink="/history" routerLinkActive="active"><div class="btn btn-lg btn-primary">See history</div></a>
            </div>
        </div>
    </div>
</div>
