<div id="solverRoot">
    <div *ngIf="!iptask" class="pageTitle"><h2>Linear programming model editor</h2></div>
    <div *ngIf="iptask" class="pageTitle"><h2>Integer programming model editor</h2></div>
    <div id="lpModelEditorRoot">
        <div id="numOfDecisionVariablesAndConstraintsContainer" class="card baseBox lpModelEditorBox">
            <div class="card-header" id="basicParams">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBasic">
                        Baisc parameters of the problem
                    </button>
                </h5>
            </div>
            <div id="collapseBasic" class="collapse show">
                <div class="card-body">
                    <div class="row mb-1">
                        <div class="form-group col-xl-3 col-md-4 col-sm-6 col-xs-12">
                            <label>Number of decision variables:</label>
                            <div class="input-group">
                                <input type="number" min={{MIN_NUM_DECISIONVARS}} max={{MAX_NUM_DECISIONVARS}} class="form-control" id="numDecisionVars"/>
                            </div>
                        </div>
                        <div class="form-group col-xl-3 col-md-4 col-sm-6 col-xs-12">
                            <label>Number of constraints:</label>
                            <div class="input-group">
                                <input type="number" min={{MIN_NUM_CONSTRAINTS}} max={{MAX_NUM_CONSTRAINTS}} class="form-control" id="numConstraints"/>
                            </div>
                        </div>
                    </div>
                    <button id="setBasicParamsBtn" class="btn btn-primary btn-round" (click)="numberDecisionVariablesAndConstraintsChanged()">Set</button>
                </div>
            </div>
        </div>
        <div id="constraintsObjectiveInterpretationContainer">
            <div id="constraintsAndObjectiveContainer" class="card baseBox lpModelEditorBox">
                <div class="card-header" id="constraintsAndObjective">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseConstraintsAndObjective">
                            Constraints and the objective fucntion
                        </button>
                    </h5>
                </div>
                <div id="collapseConstraintsAndObjective" class="collapse">
                    <div class="card-body">
                        <h3>Constraints</h3>
                        <p *ngIf="!iptask">
                            Here you can provide the constraints of the LP problem. Set the coefficients of the decision variables in the constraints. 
                            Field left as empty means that the decision variable has a zero coefficient in the current constraint. 
                            The same is true to the right side constant of the constraints.
                        </p>
                        <p *ngIf="iptask">
                            Here you can provide the constraints of the integer programming problem. Set the coefficients of the decision variables in the constraints. 
                            Field left as empty means that the decision variable has a zero coefficient in the current constraint. 
                            The same is true to the right side constant of the constraints.
                        </p>
                        <div id="constraintsContainer"></div>
                        <h3>Objective</h3>
                        <p *ngIf=!iptask>
                            Here you can provide the coefficients of the decision variables of the objective function and the optimization aim. 
                            If you leave a field empty has the same effect if you wrote a zero into it.
                        </p>
                        <p *ngIf=iptask>
                            Here you can provide the coefficients of the decision variables of the objective function. 
                            If you leave a field empty has the same effect if you wrote a zero into it.
                        </p>
                        <div id="objectiveContainer"></div>
                    </div>
                </div>
            </div>
            <div id="irContainer" class="card baseBox lpModelEditorBox">
                <div class="card-header" id="interpretationRanges">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseInterpretationRanges">
                            Interpretation ranges of the decision variables
                        </button>
                    </h5>
                </div>
                <div id="collapseInterpretationRanges" class="collapse">
                    <div class="card-body">
                        <p *ngIf="!iptask">
                            Here you can provide the interpretaion ranges of the decision variables by determining the lower bound of their interpretation ranges. 
                            So you gave a constraint having an "x >= y" form where x is the decison variable whose lower bound is set for and y is the value you provide as a lower bound. 
                            If you leave a box empty that means the decision variable has no limit (lower bound).
                        </p>
                        <p *ngIf="iptask">
                            The interpretation range will be interpreted as ">= 0" for every decision variable implicitly.
                        </p>
                        <div *ngIf="!iptask" class="row mb-1">
                            <div id="interpretationRangesContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="submitContainer" class="baseBox lpModelEditorBox">
                <button class="btn btn-primary btn-round" (click)="sendLPModelToSolver()">Send model</button>
            </div>
        </div>
    </div>
</div>